html {
  height: 100%;
  overflow: hidden;
  touch-action: manipulation;
}
body {
  height: 100%;
  margin: 0;
  background: #fd0;
}
* {
  box-sizing: border-box;
  color: #000;
  font: 1rem 'Helvetica Neue', Arial, 'Apple Color Emoji', 'Segoe UI Emoji', sans-serif;
  margin: 0;
  overflow: hidden;
}
button {
  cursor: pointer;
}
select {
  cursor: pointer;
  appearance: menulist-button;
  width: 100%;
}
.UsiForm {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 4px;
  padding: 4px;
  grid-template-rows: 3rem 1fr 3rem;
}
.UsiHeader {
  display: grid;
  gap: 4px;
  grid-template-columns: 4rem 1fr 4rem;
}
.TitleOutput {
  display: grid;
  place-items: center;
}
.UsiOutput {
  white-space: pre-wrap;
  overflow-y: scroll;
  font-family: Menlo, Consolas, monospace;
  background: #fff;
}
.UsiFooter {
  display: grid;
  gap: 4px;
  grid-template-columns: 1fr 4rem 4rem;
}
